[access "refs/*"]
	owner = group user/lbarbisan-ullink (lbarbisan-ullink)
[access "refs/for/refs/*"]
	read = group user/lbarbisan-ullink (lbarbisan-ullink)
	push = group user/lbarbisan-ullink (lbarbisan-ullink)
	label-Code-Review = -2..+2 group user/lbarbisan-ullink (lbarbisan-ullink)
	label-Verified = -1..+1 group user/lbarbisan-ullink (lbarbisan-ullink)
	rebase = group user/lbarbisan-ullink (lbarbisan-ullink)
	removeReviewer = group user/lbarbisan-ullink (lbarbisan-ullink)
	submit = group user/lbarbisan-ullink (lbarbisan-ullink)
[access "refs/heads/*"]
	read = group user/lbarbisan-ullink (lbarbisan-ullink)
	create = group user/lbarbisan-ullink (lbarbisan-ullink)
	push = +force group user/lbarbisan-ullink (lbarbisan-ullink)
	pushMerge = group user/lbarbisan-ullink (lbarbisan-ullink)
[access "refs/tags/*"]
	push = +force group user/lbarbisan-ullink (lbarbisan-ullink)
	pushTag = group user/lbarbisan-ullink (lbarbisan-ullink)
	pushSignedTag = group user/lbarbisan-ullink (lbarbisan-ullink)
